.chat-group-form
  %h1 チャットグループ編集
  = render partial: 'form', locals: { group: @group }



.slider
  = image_tag("mercari1.jpg")
  = image_tag("mercari2.jpg")
  = image_tag("mercari3.jpg")
  = image_tag("mercari4.jpg")
  
  