%body
  .pc
    .a
      %h1
        %img.pc{ :src => "logo.png"}/
        %img.sp{:alt => "スマートフォン用の画像", :src => "images/logo2.png"}/
      %ul.head-aa
        %li.head-a
          %a{:href => "#a-1"} Skill
        %li.head-a
          %a{:href => "#a-2"} About
        %li.head-a
          %a{:href => "#a-3"} Contact
    .c
      %ul.head-bb
        %li.head-bb
        %li.head-bb
        %li.head-bb
    .photo
      %img{:src => "cat-1.png"}/
    .area-1
      .btn-a
        #a-1
          Skill
      .b
        %h1
          %img{:src => "cat-2.png"}/
        .box-1
          %p.text-a
            We sleep whenever we want. We sleep wherever we
            = succeed "want." do
              %br/
            = succeed "We" do
              %br/
            = succeed "want." do
              %br/
            = succeed "We" do
              %br/
            = succeed "want." do
              %br/
            %br/
      .b
        .box-1
          %p.text-a
            We sleep whenever we want. We sleep wherever we
            = succeed "want." do
              %br/
            = succeed "We" do
              %br/
            = succeed "want." do
              %br/
            = succeed "We" do
              %br/
            = succeed "want." do
              %br/
            %br/
        %h1
          %img{:src => "cat-3.png"}/
    .bigbox-1
      %h1.btn-b
        #a-2
          About
      .box-4
        %img{:src => "cat-4.png"}/
        %img{:src => "cat-5.png"}/
      .text-b
        %h1
          We are cute. There is no doubt about this.
          %br/
          Nobody can’t object to this fact.
        %h2
          We are cute. There is no doubt about this.
          %br/
          Nobody can’t object to this fact.
      .sono-1
        .bigbtn
          %h1
            MORE
    .btn-a
      #a-3
        Contact
    .bottom
      %img{:src => "マスクグループ 1.png"}/
      .box-5
        You can come to see me.
        .middle
          .bigbtn
            %h1
              MAP
    .gray
      .gray-box
        %h1
          We are munchkin
  .sp
    .aa
      #a-4
        %h1
          %img.sp{:src => "images/logo2.png"}/
      %header
        #nav-drawer
          %input#nav-input.nav-unshown{:type => "checkbox"}/
          %label#nav-open{:for => "nav-input"}
            %span
          %label#nav-close.nav-unshown{:for => "nav-input"}
          #nav-content
            .my-parts
              %a{:href => "#aa-4"}
                %span
            .hum
              %h2
                %a{:href => "#aa-1"} Skill
            .hum
              %h2
                %a{:href => "#aa-2"} About
            .hum
              %h2
                %a{:href => "#aa-3"} Contact
    .ac
      %ul.ahead-bb
        %li.ahead-bb
        %li.ahead-bb
        %li.ahead-bb
    .aphoto
      %img{:src => "cat-1.png"}/
    .aarea-1
      .abtn-a
        #aa-1
          Skill
      .ab
        %h1
          %img{:src => "cat-2.png"}/
        .abox-1
          %p.atext-a
            We sleep whenever we want. We sleep wherever
            = succeed "we" do
              %br/
            = succeed "We" do
              %br/
            = succeed "we" do
              %br/
            = succeed "We" do
              %br/
            = succeed "we" do
              %br/
      .ab
        %h1
          %img{:src => "cat-3.png"}/
        .abox-1
          %p.atext-a
            We sleep whenever we want. We sleep wherever
            = succeed "we" do
              %br/
            = succeed "We" do
              %br/
            = succeed "we" do
              %br/
            = succeed "We" do
              %br/
            = succeed "we" do
              %br/
    .abigbox-1
      %h1.abtn-b
        #aa-2
          About
      .abox-4
        %img{:src => "cat-4.png"}/
      .atebo
        %h1
          We are cute. There is no doubt about this.
          %br/
          Nobody can’t object to this fact.
      .abox-5
        %img{:src => "cat-5.png"}/
      .atebo
        %h1
          We are cute. There is no doubt about this.
          %br/
          Nobody can’t object to this fact.
      .asono-1
        .abigbtn
          %h1
            MORE
    .abtn-a
      #aa-3
        Contact
    .abottom
      %img{:src => "マスクグループ 1.png"}/
    .abox-6
      You can come to see me.
    .amiddle
      .abigbtn-2
        %h1
          MAP
    .agray
      .agray-box
        %h1
          We are munchkin
